<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,183},{31,163}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,129},{31,163}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,241},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,53}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>anniu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,102}}</string>
                <key>sourceSize</key>
                <string>{260,104}</string>
            </dict>
            <key>ty_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,74}</string>
            </dict>
            <key>ty_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,214},{192,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,74}}</string>
                <key>sourceSize</key>
                <string>{192,74}</string>
            </dict>
            <key>ty_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>ty_anniu_huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,348},{85,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>ty_anniu_jiaru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,103},{199,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,109}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>ty_anniu_jiaru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,290},{191,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{191,105}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>ty_biaoti_renzheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,358},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ty_dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,103},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>ty_dikuang_boli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{133,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,252}}</string>
                <key>sourceSize</key>
                <string>{133,252}</string>
            </dict>
            <key>ty_dikuang_zhanji33.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,150},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>ty_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,290},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommonUse.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b69ae4b94f1ff2066950fc93f62129af:1/1$</string>
            <key>textureFileName</key>
            <string>CommonUse.png</string>
        </dict>
    </dict>
</plist>
